**Recommendation system based on Similairty Measures** 
* Dataset link : https://www.kaggle.com/orgesleka/imdbmovies

# Libraries and data

In [81]:
import numpy as np
import sklearn
import pandas as pd
from numpy.linalg import norm
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

In [106]:
## mini imdb dataset (from kaggle)
#file_path = '/content/drive/My Drive/Colab Notebooks/Recommendation systems/Data/imdb.csv'
file_path = '/Data/imdb.csv'
df = pd.read_csv(file_path , error_bad_lines=False ,warn_bad_lines=False)
print("Rows and columns : " , df.shape)

Rows and columns :  (14332, 44)

In [83]:
df.head()

                   fn        tid  ... War Western
0  titles01/tt0012349  tt0012349  ...   0       0
1  titles01/tt0015864  tt0015864  ...   0       0
2  titles01/tt0017136  tt0017136  ...   0       0
3  titles01/tt0017925  tt0017925  ...   0       0
4  titles01/tt0021749  tt0021749  ...   0       0

[5 rows x 44 columns]

In [84]:
# convert df to matrix
Data = df.to_numpy()
Data[0][16: ]

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=object)

# Cosine similairty (based on genre)
* Build a similairty matrix for all the movies with every other movie based on genre
* Matrix dim : n*n (n= no.of movies)
* Used sklearn's built in cosine_sim fucntion
* Goal is given a moive **output 10 similar movies based on genre**

In [85]:
#similairty based on genre
n = Data.shape[0]
v = [] #matrix storing genre vector of all movies
for i in range(0,n):
  a = Data[i][16 : ]
  a = a.astype(np.float32)
  v.append(a)

In [ ]:
movie_indices = pd.Series(df.index, index=df['title'])
indices_movies = pd.Series(df['title'])
indices_movies

In [90]:
#sklearn's cosine similairty
Cos_sim_mat = cosine_similarity(v,v)
Cos_sim_mat.shape

(14332, 14332)

In [102]:
#given a movie name find ten similar movies based on genre
def sim_movies(name , similar_mat):
  id = movie_indices[name]
  sim = Cos_sim_mat[id]
  #print(id , " : " ,sim)
  sim1 = list(enumerate(sim))
  #print(id , " : " ,sim1)
  sim_10 = sorted(sim1 , key = lambda x : x[1] , reverse = True)
  #print(id , " : " ,sim_10)
  sim_10 = sim_10[0:11]  #top 10 similarity
  #print(id , " : " ,sim_10)
  top10_ind = [x[0] for x in sim_10  ]
  #print(top10_ind)
  print("Because you watched ", name , " here are 10 similar moives : ")
  j = 0
  for i in top10_ind :
    if(i!=id) :
      j += 1
      sim_movie = indices_movies[i]
      print(j ,"." ,sim_movie)

In [103]:
movie_name = "Marvel's The Avengers (2012)"
sim_movies(movie_name ,Cos_sim_mat)

Because you watched  Marvel's The Avengers (2012)  here are 10 similar moives :
1 . Spider-Man (2002)
2 . Die Krähe (1994)
3 . Batman (1989)
4 . Batmans Rückkehr (1992)
5 . Spider-Man 2 (2004)
6 . Hancock (2008)
7 . Hancock 2
8 . Die Legende der weissen Schlange (2011)
9 . China Swordsman (1992)
10 . Exodus: Tales from the Enchanted Kingdom (2005)

#own cosine_sim function --> very very slow takes more than 30 mins

In [ ]:
for i in range(0,1000):
  Cs = []
  a = v[i]
  for j in range(0,1000):
    b = v[j]
    #val = cosine_similarity(a,b)
    Cs.append(val)
  Cos_sim_mat.append(Cs)

In [6]:
#cos similarity
def cosine_sim(a,b):
  if (norm(a) == 0)  or (norm(b)== 0) :
    val = -1
  else :
      val = np.dot(a,b) /  (norm(a) * norm(b))
  return val

In [ ]:
Cos_sim_mat = []
for i in range(0,n):
  Cs = []
  a = v[i]
  for j in range(0,n):
    b = v[j]
    val = cosine_sim(a,b)
    Cs.append(val)
  Cos_sim_mat.append(Cs)