**Recommendation system based on Matrix Factorization** 
* Dataset link : https://www.kaggle.com/rounakbanik/the-movies-dataset

# Libraries and data

In [2]:
import numpy as np
import sklearn
import pandas as pd
from sklearn import preprocessing 
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split

In [3]:
## mini imdb dataset (from kaggle)
file_path = '/content/drive/My Drive/Colab Notebooks/Recommendation systems/Data/movies dataset (huge)/ratings_small.csv'
#file_path = '/Data/ratings.csv'
df = pd.read_csv(file_path)  #, error_bad_lines=False ,warn_bad_lines=False)
print("Rows and columns : " , df.shape)

Rows and columns :  (100004, 4)

In [4]:
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

# Data preprocessing

In [5]:
data = df[['userId' , 'movieId','rating']]
print(data)
X = df[['userId' , 'movieId']]
y = df['rating']

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [11]:
# train test split
X_train ,X_test , y_train , y_test = train_test_split(X,y)

In [12]:
X_test.shape

(25001, 2)

# SVD

In [13]:
u, s, vh = np.linalg.svd(X_test, full_matrices=True)

In [16]:
vh

array([[ 0.00516578,  0.99998666],
       [ 0.99998666, -0.00516578]])

# Matrix Factorization